/****** Script for SelectTopNRows command from SSMS  ******/
SELECT TOP 1000 [parabirimi_id]
      ,[para_id]
      ,[para_adi]
      ,[ulke]
      ,[para_sembolu]
  FROM [Exchange_money].[dbo].[parabirimi]
Foreign Key (parabirimi_id)references parabirimi(parabirimi_id)

ALTER TABLE Parabirimi
ADD CONSTRAINT FK_Parabirimi_Currency FOREIGN KEY (parabirimi_id) REFERENCES Currency(parabirimi_id);

